### 설문조사 자료 전처리
    
    최초 작성일 : 20/03/28
    작성자 : 조예슬
    
    <작성내용>
        
        - Age + Sex cnt 전처리
        - Age + Sex + Interest cnt 전처리          
      
        
    < 출처 >
    은주언니 햣!!▼
    https://github.com/slmteruto/CAI/blob/master/jay/Statistical%20hypothesis%20testing/Survey_preprocessing.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

### Age + Sex cnt

In [8]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 밝은색 설문 결과 불러오기
elementaryItem1 = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D")
elementaryItem1.rename(columns={elementaryItem1.columns[0]:"sex",
                          elementaryItem1.columns[1]:"age_class"}, inplace=True)


## 조화색 설문 결과 불러오기
elementaryItem2 = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D")
elementaryItem2.rename(columns={elementaryItem2.columns[0]:"sex",
                          elementaryItem2.columns[1]:"age_class"}, inplace=True)

## 두 결과 합치기
elementaryItem = pd.concat([elementaryItem1, elementaryItem2], join='outer')

## 인덱스 조정
elementaryItem.reset_index(inplace=True)
del elementaryItem['index']

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
    ## age_class : 10, 20, 30, 40, 50으로 리스트 담기
    if elementaryItem["age_class"][i] == "10대":
        elementaryItem["age_class"][i] = "10"
    elif elementaryItem["age_class"][i] == "20대":
        elementaryItem["age_class"][i] = "20"
    elif elementaryItem["age_class"][i] == "30대":
        elementaryItem["age_class"][i] = "30"
    elif elementaryItem["age_class"][i] == "40대":
        elementaryItem["age_class"][i] = "40"
    else:
        elementaryItem["age_class"][i] = "50"
              
# 개수 넣기
elementaryItem["cnt"] = 1

SA_total = elementaryItem
SA_total

        sex age_class  cnt
0      Male        20    1
1    Female        20    1
2    Female        20    1
3    Female        20    1
4    Female        20    1
..      ...       ...  ...
205  Female        50    1
206  Female        50    1
207  Female        50    1
208  Female        50    1
209  Female        20    1

[210 rows x 3 columns]

In [9]:
# SA_total 전처리 결과 저장
SA_total.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_total.csv")

### Age + Sex + Interest cnt

In [6]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 밝은색 설문 결과 불러오기
elementaryItem1 = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D, H")
elementaryItem1.rename(columns={elementaryItem1.columns[0]:"sex",
                          elementaryItem1.columns[1]:"age_class", 
                          elementaryItem1.columns[2]:"interest"}, inplace=True)

## 조화색 설문 결과 불러오기
elementaryItem2 = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D, H")
elementaryItem2.rename(columns={elementaryItem2.columns[0]:"sex",
                          elementaryItem2.columns[1]:"age_class",
                          elementaryItem2.columns[2]:"interest"}, inplace=True)

## 두 결과 합치기
elementaryItem = pd.concat([elementaryItem1, elementaryItem2], join='outer')

## 인덱스 조정
elementaryItem.reset_index(inplace=True)
del elementaryItem['index']


## 값 변경 반복문
# sex, age, definition, need, purpose_colthes, purpose_cosmetic, purpose_etc = [], [], [], [], [], [], []
for i in range(int(elementaryItem.shape[0])):
    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
    ## age_class : 10, 20, 30, 40, 50으로 리스트 담기
    if elementaryItem["age_class"][i] == "10대":
        elementaryItem["age_class"][i] = "10"
    elif elementaryItem["age_class"][i] == "20대":
        elementaryItem["age_class"][i] = "20"
    elif elementaryItem["age_class"][i] == "30대":
        elementaryItem["age_class"][i] = "30"
    elif elementaryItem["age_class"][i] == "40대":
        elementaryItem["age_class"][i] = "40"
    else:
        elementaryItem["age_class"][i] = "50"

        
# 개수 넣기
elementaryItem["cnt"] = 1   
        
AgeSexInterest = elementaryItem
AgeSexInterest

C:\ana\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        sex age_class  interest  cnt
0      Male        20         5    1
1    Female        20         5    1
2    Female        20         3    1
3    Female        20         3    1
4    Female        20         4    1
..      ...       ...       ...  ...
205  Female        50         3    1
206  Female        50         5    1
207  Female        50         3    1
208  Female        50         4    1
209  Female        20         4    1

[210 rows x 4 columns]

In [ ]:
# AgeSexInterest 전처리 결과 저장
AgeSexInterest.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/AgeSexInterest.csv")

### 데이터랩 : 성별 퍼스널컬러 검색 횟수

In [96]:
## 데이터 불러오기

# 여성
search_s_cnt_F = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/데이터랩_퍼스널컬러_전체기간.xlsx",
                            sheet_name = '20대 남녀', header=2, na_values = 'NaN',
                            usecols="B, D")
search_s_cnt_F.rename(columns={search_s_cnt_F.columns[0]:"Date",
                            search_s_cnt_F.columns[1]:"cnt"}, inplace=True)

# 남성
search_s_cnt_M = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/데이터랩_퍼스널컬러_전체기간.xlsx",
                            sheet_name = '20대 남녀', header=2, na_values = 'NaN',
                            usecols="B, J")
search_s_cnt_M.rename(columns={search_s_cnt_M.columns[0]:"Date",
                            search_s_cnt_M.columns[1]:"cnt"}, inplace=True)


## 데이터 전처리

# class 분류
search_s_cnt_F["sex_class"] = "Female"
search_s_cnt_M["sex_class"] = "Male"

# 합치기
search_s_cnt = pd.concat([search_s_cnt_F, search_s_cnt_M], join='outer')

# Date 쪼개기
search_s_cnt["Year"] = search_s_cnt.Date.str.split("-").str[0]
search_s_cnt["Month"] = search_s_cnt.Date.str.split("-").str[1]
search_s_cnt["Day"] = search_s_cnt.Date.str.split("-").str[2]

# 필요없는 컬럼 삭제
del search_s_cnt["Date"]

# cnt 반올림
search_s_cnt = search_s_cnt.round(0)

# 순서 정렬
search_s_cnt = search_s_cnt[["Year", "Month", "Day", "sex_class", "cnt"]]


## 마무리
search_s_cnt

      Year Month Day sex_class     cnt
0     2016    01  01    Female   878.0
1     2016    01  02    Female   932.0
2     2016    01  03    Female   968.0
3     2016    01  04    Female  1017.0
4     2016    01  05    Female   902.0
...    ...   ...  ..       ...     ...
1542  2020    03  22      Male   169.0
1543  2020    03  23      Male   199.0
1544  2020    03  24      Male   211.0
1545  2020    03  25      Male   292.0
1546  2020    03  26      Male   665.0

[3094 rows x 5 columns]

In [97]:
# search_s_cnt 전처리 결과 저장
search_s_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/search_s_cnt.csv")